RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond $1 !^(api|vendor|backend|controller|model|Procfile.txt|.idea)

RewriteRule ^(.+)$ index.php/$1 [L]